body{
    font-family: 'poppins', sans-serif;
    margin: 0px;
    padding: 0px;
}

section{
    height: 500px;
    background-color: white;

}


.hero{
    background-color:#1c1d25;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer{
   
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}


li{ 
    text-decoration: none;
}

h1{
    font-size: 90px;
    margin: 0px;
}
h2{
    font-size: 50px;
}
p{
    margin: 0pox;
    font-size: 30px;
    font-weight: 600;
}

.subtext{
    font-size: 15px;
    font-weight: 300;
}

.hero-text{
    margin-left: 80px;
    margin-bottom: 200px;
}
.hero-area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.button{
    width: 200px;
    height: 80px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-weight: 300px;
    padding-top:10px;
    margin-top: 25spx;
}

.button:hover{
    background-color: #ef744b;
}

.button:active{
    background-color: #a9a9a9;
    color: #808080;
}

.socials{
    padding-bottom: 100px;
}
.logo{
    height: 50px;
    margin:30px;
}

.social{
    margin:20px;
}

#twitter-icon:hover{
fill:#1DA1F2;
}

#linkedin-icon:hover{
    fill:#0077b5;
}
#github-icon:hover{
    fill:coral;
}

.sub-section{
    display: flex;
    justify-content: space-around ;
    padding: 80px;
}
.sub-section-alternative{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
    margin-bottom: 200px;
}

.headshot{
    width: 300px;
    border-radius: 140px;
}
.headshot-container{
    display: flex;
    align-items: center;
}
.project-card{
    width: 400px;;
    min-height: 500px;
    box-shadow: 5px 5px 20px rgb(149, 149, 149);
}

.project-containor{ 
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px){
    .project-containor{
        display: flex;
        flex-wrap: wrap;
    }
}


.project-image{
    width: 300px;
    margin-top: 25px;
    border-radius: 125px;
}

hr{
    margin-left: 40px;
    margin-right: 40px;
}

a{
    color: white;
    text-decoration: none;
}

.nav-bar > a:hover{
    color: coral;
}


.git-link{
    text-decoration: none;
    color: coral;
    font-weight: 600;
}
.subtext{
    font-weight: 400;
}
.hamburger{
   display: none;
}

.nav{
    position: fixed;
}


@media only screen and (max-width:1000px){
    .hamburger{
        display: block;
        border:0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }
    ul{
        display: none; 
        background-color:#353746;
        margin: 0px;
    }
    nav{
        background-color:#353746;
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }
    .logo{
        display: none;
    }
    ul.show{
        display: block;
    }
    .myname{
        font-size: 6vh;
    }
    .iam, .type{
        font-size: 3vh;
    }
    .button{
        width: 150px;
        height: 30px;
    }
    .abtme{
        font-size: 3vh;
        display: flex;
        margin-left: 10px;
        margin-top: -10px;
    }
    #twitter-icon, #linkedin-icon, #github-icon{
        height: 30px;
        width: 30px;
    }
    .hero-text{
        margin-left: 30px;
    }
    .information > h2{
        font-size: 5vh;
        display: flex;
        margin-top: -30px;
        margin-left: 50px;
   }
   .information > p{
    font-size: 2vh;
   }
   .headshot{
     display: none;
   }

}
.iam{
    float: left;
}
.type{
    position: relative;
    color: coral ;

}
.type::after{
    content: "";
    width: 1px;
    height: 5%;
    border-right: 2px solid rgb(246, 105, 54);
    animation: blink 0.5s infinite ease;
}

@keyframes blink
{
    0%{
        opacity: 0;
    }    
    100%{
        opacity: 1;
    }
}   
nav{
    transition: 0.5s;
} 
.sticky{
    background-color:rgba(255, 127, 80, 0.623);
    position: fixed;
    width: 100%;   
    
}